body {
    background-color: gray;
}

.highScore {
    padding: 10px;
    font-size: 35px;
    width: 250px;
    height: 75px;
    top: 10px;
    left: 10px;
}

#timer {
    font-size: 35px;
    position:absolute;
    top: 10px;
    right: 10px;
}

.intro {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    font-size: 20px;
}

.quizContainer p {
    position: absolute;
    top: 50px;
    right: 50px;
}
.startButton {
    font-size: 25px;
    width: 250px;
    height: 75px;
    margin-top: 100px;
    margin-left: 50px;
}

#question {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 25px;
}

#choices {
    list-style: none;
}

#correctContainer {
    margin-top: 20px;
}

#winner {
    font-size: 30px;
    margin-top: 20px;
}

#hiScoreInput {
    font-size: 25px;
    margin-top: 25px;
    margin-left: 25px;
}

#hiScoreSubmit {
    font-size: 20px;
    margin-left: 10px;
}

#returnQuiz {
    padding: 10px;
    font-size: 25px;
    width: 250px;
    height: 75px;
    margin-top: 100px;
    margin-left: 50px;
    background-color: green;
}

#hiScoreTitle {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 30px;
}

#hiScoreList {
    list-style: none;
    font-size: 20px;
}

#backQuiz {
    font-size: 20px;
    margin-left: 30px;
}